{% extends "base.html" %}

{% block content %}
<h1 class="title">
	aadi.
</h1>
<p>
	<span id="intro">hi, im aadi and this is my website.</span>
	<br><br>
	do you think that this is unattractive? <br> it's <a href="https://motherfuckingwebsite.com/">minimal</a>.
</p>
<hr />
<h2 style="font-size:18px;">guide.</h2>
<ul>
	<li><a href="/blog/">blog.</a> - blog.</li>
	<li><a href="/personal/">personal.</a> - personal stuff.</li>
	<li><a href="/links/">links.</a> - list for socials.</li>
</ul>

<footer>
	<hr>
	<div id="logos">
		<a href="https://poggerer.xyz/" >
		        <img border="0" src="https://poggerer.xyz/88x31.png" alt="tulgg's site" width="88" height="31">
		</a>
		<a href="https://arthurmelton.com/" >
			<img border="0" src="https://arthurmelton.com/88x31.png" alt="amtian's site" width="88" height"31">
		</a>
		<a href="https://aadi.net.in" >
			<img border="0" src="https://aadi.net.in/88x31.png" alt="aadi's site" width="88" height"31">
		</a>
		<a href="https://kernel.org/" >
			<img border="0" src="https://xorvet.github.io/88x31/gifs/gnu-linux.gif" alt="made on gnu/linux" width="88" height"31">
		</a>
		<a href="https://archlinux.org/" >
			<img border="0" src="https://cdn.discordapp.com/attachments/1041751682805153866/1114300211905433741/image.png" alt="arch <3" width="88" height"31">
		</a>
		<a href="https://www.amd.com/en.html" >
			<img border="0" src="https://cyber.dabamos.de/88x31/amd_powered.gif" alt="amd" width="88" height"31">
		</a>
	</div>
</footer>
</div>
{% endblock content %}
