<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>aadi's journal</title>
  {% endif %}
  <meta name="description" content="aadi's journal!!! (https://aadi.net.in/)">
  <meta name="author" content="aadi.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/personal.css">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>

<body>
  <header>
    <h2>{{ section.title }}</h2>
    <hr />
    <figure>
      <img alt="face reveal haha" src="/img/personal/uhh.jpg" width="200px" />
      <figcaption>- me</figcaption>
    </figure>
  </header>
  <p>
    hai, i am aadi. i was born on the 1st of jan 2008 (cool birthday, im aware).<br>
    today is the 26th of april, 2023 and i decided to have my own /personal page :P <br>
    <hr />

  <div class="posts">
    {% for page in paginator.pages %}
    <article class="post" id="{{ page.title }}">
      <h4><a href="#{{ page.title }}"> # </a> {{ page.title }}</h4>
      <div class="post__summary">
        {{ page.content | safe }}
      </div>
    </article>
    {% endfor %}
  </div>
  <nav class="pagination">
    {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}">‹ Prev</a>
    {% endif %}
    {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
  </nav>
</body>

</html>